<app-horizontal-app-menu
  [showSearch]="true"
  [showIcon]="true"
  [navClass]="'navbar navbar-expand-lg'"
  [headerClass]="'navbar-light fixed-top header-static bg-mode'"
/>
<main class="content">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <div class="d-flex align-items-center d-lg-none">
          <button
            (click)="openSidebarProfile()"
            class="border-0 bg-transparent"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSideNavbar"
            aria-controls="offcanvasSideNavbar"
          >
            <span class="btn btn-primary"
              ><i class="fa-solid fa-sliders-h"></i
            ></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>

        <!-- Navbar START-->
        <nav class="navbar navbar-expand-lg mx-0">
          <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvasSideNavbar"
          >
            <app-sidebar />
          </div>
        </nav>
        <!-- Navbar END-->
      </div>

      <div class="col-md-8 col-lg-9 vstack">
        <router-outlet />
      </div>
    </div>
  </div>
</main>
