<div class="card card-body p-4 p-sm-5 mt-sm-n5 mb-n5">
  <h2 class="h1 mb-2">Sign in</h2>
  <p>
    Don't have an account?<a routerLink="/auth/sign-up">
      Click here to sign up</a
    >
  </p>

  <form class="mt-4">
    <div class="mb-3 position-relative input-group-lg">
      <input type="email" class="form-control" placeholder="Enter email" />
    </div>

    <div class="mb-3">
      <div class="input-group input-group-lg">
        <input
          class="form-control fakepassword"
          type="password"
          id="psw-input"
          placeholder="Enter new password"
        />
        <span class="input-group-text p-0">
          <i
            class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"
          ></i>
        </span>
      </div>
    </div>

    <div class="mb-3 d-sm-flex justify-content-between">
      <div>
        <input type="checkbox" class="form-check-input" id="rememberCheck" />
        <label class="form-check-label" for="rememberCheck">Remember me?</label>
      </div>
      <a routerLink="/auth/forgot-password">Forgot password?</a>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-lg btn-primary-soft">Login</button>
    </div>

    <p class="mb-0 mt-3">
      ©{{ currentYear }}
      <a target="_blank" href="javascript:void(0);">Techzaa.</a> All rights
      reserved
    </p>
  </form>
</div>
