<footer class="pt-5 bg-mode">
  <div class="container">
    <div class="row g-4">
      <div class="col-sm-6 col-lg-3">
        <img src="assets/images/logo.svg" alt="" />
        <p class="mt-3">
          Match way these she avoids seeing death their fat off.
        </p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-4">Download</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link pt-0" href="javascript:void(0);">
              <i class="bi bi-globe fa-fw pe-2"></i>Web Browser</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
              <i class="bi bi-windows fa-fw pe-2"></i>Windows</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
              <i class="bi bi-apple fa-fw pe-2"></i>macOS</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
              <i class="bi bi-phone fa-fw pe-2"></i>iOS & Android</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-4">About</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link pt-0" href="javascript:void(0);">
              About social</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Customer Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
              Careers - <b> Join Us! </b></a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-4">Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link pt-0" href="javascript:void(0);"> Join</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Help Center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"> Communities </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="mb-0 mt-5" />
  <div class="bg- light py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="nav justify-content-center justify-content-lg-start lh-1">
            <li class="nav-item">
              <a class="nav-link ps-0" href="javascript:void(0);">Support </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="docs/index.html"
                >Docs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">Terms of Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                >Privacy &amp; terms</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p class="text-center text-lg-end mb-0">
            ©{{ currentYear }}
            <a class="text-body" href="javascript:void(0);">
              {{ credits.name }} </a
            >All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
