<div class="row">
  <div class="col-lg-3">
    <div class="d-flex align-items-center mb-4 d-lg-none">
      <button
        class="border-0 bg-transparent"
        (click)="open()"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="btn btn-primary"
          ><i class="fa-solid fa-sliders-h"></i
        ></span>
        <span class="h6 mb-0 fw-bold d-lg-none ms-2">Settings</span>
      </button>
    </div>

    <div class="navbar navbar-light navbar-expand-lg mx-0">
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <button
            type="button"
            (click)="close()"
            class="btn-close text-reset ms-auto"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body p-0">
          <div class="card w-100">
            <div class="card-body">
              <ul
                ngbNav
                #nav="ngbNav"
                class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0"
              >
                <!-- <li ngbNavItem class="nav-item" data-bs-dismiss="offcanvas">
                  <a
                    ngbNavLink
                    class="nav-link d-flex mb-0"
                    href="#nav-setting-tab-1"
                    data-bs-toggle="tab"
                  >
                    <img
                      class="me-2 h-20px fa-fw"
                      src="assets/images/icon/person-outline-filled.svg"
                      alt=""
                    /><span>Account </span></a
                  >
                  <ng-template ngbNavContent>
                    <setting-account [changePassword]="false" />
                  </ng-template>
                </li> -->
                <li ngbNavItem class="nav-item" data-bs-dismiss="offcanvas">
                  <a
                    ngbNavLink
                    class="nav-link d-flex mb-0"
                    href="#nav-setting-tab-1"
                    data-bs-toggle="tab"
                  >
                  
                    <i class="mt-1 fa-solid fa-key me-2 h-20px fa-fw"></i>
                    <span>Password Management </span></a
                  >
                  <ng-template ngbNavContent>
                    <setting-account [changePassword]="true" />
                  </ng-template>
                </li>
              
                <li ngbNavItem class="nav-item" data-bs-dismiss="offcanvas">
                  <a
                    ngbNavLink
                    class="nav-link d-flex mb-0"
                    href="#nav-setting-tab-6"
                    data-bs-toggle="tab"
                  >
                    <img
                      class="me-2 h-20px fa-fw"
                      src="assets/images/icon/trash-var-outline-filled.svg"
                      alt=""
                    /><span>Close account </span></a
                  >
                  <ng-template ngbNavContent>
                    <setting-close-account />
                  </ng-template>
                </li>
              </ul>
            </div>

            
          </div>
        </div>


        <p class="small text-center mt-1">
          ©{{ currentYear }}
          <a class="text-reset" target="_blank" href="javascript:void(0);">
            b4biz
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 vstack gap-4">
    <div class="tab-content py-0 mb-0" [ngbNavOutlet]="nav"></div>
  </div>
</div>
