<div class="offcanvas-body pt-5 pt-lg-0">
  <div class="avatar avatar-lg mb-3">
    <a href="javascript:void(0);"
      ><img
        class="avatar-img rounded-circle border border-white border-3"
        src="assets/images/avatar/07.jpeg"
        alt=""
    /></a>
  </div>

  <h5 class="mb-0"><a href="javascript:void(0);">Rakesh Babu </a></h5>
  <small>Web Developer at Techzaa</small>

  <div class="hstack gap-2 gap-xl-3 mt-3">
    <div>
      <h6 class="mb-0">256</h6>
      <small>Post</small>
    </div>

    <div class="vr"></div>

    <div>
      <h6 class="mb-0">2.5K</h6>
      <small>Followers</small>
    </div>

    <div class="vr"></div>

    <div>
      <h6 class="mb-0">365</h6>
      <small>Following</small>
    </div>
  </div>

  <hr />

  <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/home-outline-filled.svg"
          alt=""
        /><span>Feed </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/medal-outline-filled.svg"
          alt=""
        /><span>Popular </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/clock-outline-filled.svg"
          alt=""
        /><span>Recent </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/like-outline-filled.svg"
          alt=""
        /><span>Subscriptions </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/star-outline-filled.svg"
          alt=""
        /><span>My favorites </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/task-done-outline-filled.svg"
          alt=""
        /><span>Wishlist </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/notification-outlined-filled.svg"
          alt=""
        /><span>Notifications </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/cog-outline-filled.svg"
          alt=""
        /><span>Settings </span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">
        <img
          class="me-2 h-20px fa-fw"
          src="assets/images/icon/arrow-boxed-outline-filled.svg"
          alt=""
        /><span>Logout </span></a
      >
    </li>
  </ul>
</div>
