<main class="content">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div
            class="card-header py-3 border-0 d-flex align-items-center justify-content-between"
          >
            <h1 class="h5 mb-0">Notifications</h1>

            <div class="dropdown" ngbDropdown>
              <a
                href="javascript:void(0);"
                ngbDropdownToggle
                class="text-secondary btn btn-secondary-soft-hover py-1 px-2 arrow-none"
                id="cardNotiAction"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-three-dots"></i>
              </a>

              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="cardNotiAction"
                ngbDropdownMenu
              >
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bi bi-check-lg fa-fw pe-2"></i>Mark all read</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bi bi-bell-slash fa-fw pe-2"></i>Push
                    notifications
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bi bi-bell fa-fw pe-2"></i>Email notifications
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body p-2">
            <ul class="list-unstyled">
              @for (item of notifications; track $index) {
                <li>
                  <div
                    class="rounded d-sm-flex border-0 mb-1 p-3 position-relative"
                    [ngClass]="item.active ? '' : 'badge-unread'"
                  >
                    <div class="avatar text-center">
                      @if (item.avatar) {
                        <img
                          class="avatar-img rounded-circle"
                          [src]="item.avatar"
                          alt=""
                        />
                      } @else {
                        <div class="avatar-img rounded-circle bg-success">
                          <span
                            class="text-white position-absolute top-50 start-50 translate-middle fw-bold"
                            >WB</span
                          >
                        </div>
                      }
                    </div>

                    <div class="mx-sm-3 my-2 my-sm-0">
                      <p class="small mb-2">
                        <b>{{ item.name }}</b> {{ item.message }}
                      </p>

                      @if (item.actions?.accept && item.actions?.delete) {
                        <div class="d-flex">
                          <button class="btn btn-sm py-1 btn-primary me-2">
                            {{ item.actions?.accept }}
                          </button>
                          <button class="btn btn-sm py-1 btn-danger-soft">
                            {{ item.actions?.delete }}
                          </button>
                        </div>
                      }
                      @if (item.actions?.wish) {
                        <button class="btn btn-sm btn-outline-light py-1 me-2">
                          {{ item.actions?.wish }}
                        </button>
                      }
                    </div>

                    <div class="d-flex ms-auto">
                      <p class="small me-5 text-nowrap">{{ item.time }}</p>

                      <div
                        class="dropdown position-absolute end-0 top-0 mt-3 me-3"
                        ngbDropdown
                      >
                        <a
                          href="javascript:void(0);"
                          ngbDropdownToggle
                          class="arrow-none z-index-1 text-secondary btn position-relative py-0 px-2"
                          id="cardNotiAction1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bi bi-three-dots"></i>
                        </a>

                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          ngbDropdownMenu
                          aria-labelledby="cardNotiAction1"
                        >
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="bi bi-trash fa-fw pe-2"></i>Delete</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="bi bi-bell-slash fa-fw pe-2"></i>Turn
                              off
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);">
                              <i class="bi bi-volume-mute fa-fw fs-5 pe-2"></i
                              >Mute Judy Nguyen
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              }
            </ul>
          </div>
          <div
            class="card-footer border-0 py-3 text-center position-relative d-grid pt-0"
          >
            <a
              [class.active]="isSpinner === true"
              (click)="isSpinner = !isSpinner"
              href="javascript:void(0);"
              role="button"
              class="btn btn-loader btn-primary-soft"
              data-bs-toggle="button"
              aria-pressed="true"
            >
              <span class="load-text"> Load more notifications </span>
              <div class="load-icon">
                <div class="spinner-grow spinner-grow-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
