<lightgallery [settings]="settings" class="row g-3">
  <div class="col-6 col-lg-3">
    <div
      class="border border-2 border-dashed h-100 rounded text-center d-flex align-items-center justify-content-center position-relative"
    >
      <a class="stretched-link" href="javascript:void(0);">
        <i class="fa-solid fa-camera-retro fs-1"></i>
        <h6 class="mt-2">Add photo</h6>
      </a>
    </div>
  </div>

  @for (item of allAlbumPhotos; track $index) {
    @if ($index > 2) {
      <div class="col-6 col-lg-3 position-relative">
        <div class="position-absolute bottom-0 end-0">
          <div class="dropdown mb-2 me-3" ngbDropdown>
            <a
              href="javascript:void(0);"
              ngbDropdownToggle
              class="arrow-none icon-sm bg-primary text-white rounded-circle"
              id="photoActionEdit7"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-pencil-fill"></i>
            </a>

            <ul
              class="dropdown-menu dropdown-menu-end"
              ngbDropdownMenu
              aria-labelledby="photoActionEdit7"
            >
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-tag fa-fw pe-1"></i> Remove Tag</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-download fa-fw pe-1"></i> Download
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-person fa-fw pe-1"></i> Make Profile
                  Picture</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-person-bounding-box fa-fw pe-1"></i> Make
                  Cover Photo</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-flag fa-fw pe-1"></i> Report photo</a
                >
              </li>
            </ul>
          </div>
        </div>

        <a [href]="item.img" class="lightBox">
          <img class="rounded img-fluid" [src]="item.img" alt="" />
        </a>
      </div>
    }
  }
</lightgallery>
