<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h4>Explore Groups</h4>
      </div>
    </div>
    <div class="row g-4">
      @for (item of allExploregroupData; track $index) {
        <div class="col-md-4">
          <div class="card">
            <div
              class="h-80px rounded-top"
              [style.backgroundImage]="'url(' + item.image_background + ')'"
              style="
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              "
            ></div>

            <div class="card-body text-center pt-0">
              <div class="avatar avatar-lg mt-n5 mb-3">
                <a routerLink="/pages/group-details"
                  ><img
                    class="avatar-img rounded-circle border border-white border-3 bg-mode"
                    [src]="item.avatar"
                    alt=""
                /></a>
              </div>

              <h5 class="mb-0">
                <a routerLink="/pages/group-details">{{ item.title }}</a>
              </h5>
              <small> <i class="bi bi-lock pe-1"></i> {{ item.type }}</small>

              <div class="hstack gap-2 gap-xl-3 justify-content-center mt-3">
                <div>
                  <h6 class="mb-0">{{ item.members }}</h6>
                  <small>Members</small>
                </div>

                <div class="vr"></div>

                <div>
                  <h6 class="mb-0">{{ item.posts_per_day }}</h6>
                  <small>Post per day</small>
                </div>
              </div>

              <ul
                class="avatar-group list-unsty led align-items-center justify-content-center mb-0 mt-3"
              >
                @for (avatar of item.avatars; track $index; let last = $last) {
                  <li class="avatar avatar-xs">
                    @if (last) {
                      <div class="avatar-img rounded-circle bg-primary">
                        <span
                          class="smaller text-white position-absolute top-50 start-50 translate-middle"
                          >+{{ avatar.length }}</span
                        >
                      </div>
                    } @else {
                      <img
                        class="avatar-img rounded-circle"
                        [src]="avatar"
                        alt="avatar"
                      />
                    }
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
