<section
  class="pt-5 pb-0 position-relative"
  style="
    background-image: url(assets/images/bg/07.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  "
>
  <div class="bg-overlay bg-dark opacity-8"></div>

  <div class="container">
    <div class="py-5">
      <div class="row position-relative">
        <div class="col-lg-9 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Find events near you</h1>
            <p class="text-white">
              Let's uncover the best places to eat, drink, and shop nearest to
              you.
            </p>
          </div>
          <div class="mx-auto bg-mode shadow rounded p-4 mt-5">
            <form class="row align-items-end g-4">
              <div class="col-sm-6 col-lg-3">
                <label class="form-label">Select genre</label>
                <select
                  selectFormInput
                  [options]="{ searchEnabled: false }"
                  class="form-select js-choice choice-select-text-none"
                  data-position="bottom"
                  data-search-enabled="false"
                >
                  <option value="category">Category</option>
                  <option value="comedy">Comedy</option>
                  <option value="dance">Dance</option>
                  <option value="family">Family</option>
                  <option value="music">Music</option>
                  <option value="workshop">Workshop</option>
                </select>
              </div>

              <div class="col-sm-6 col-lg-3">
                <label class="form-label">Date form</label>
                <input
                  type="text"
                  mwlFlatpickr
                  class="form-control flatpickr"
                  value="12/10/2022"
                />
              </div>

              <div class="col-sm-6 col-lg-3">
                <label class="form-label">Date to</label>
                <input
                  type="text"
                  mwlFlatpickr
                  class="form-control flatpickr"
                  value="14/10/2022"
                />
              </div>

              <div class="col-sm-6 col-lg-3">
                <a class="btn btn-primary w-100" href="javascipt:void(0);"
                  >Filters Dates</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
