<app-topbar />
<main class="content">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <div class="d-flex align-items-center d-lg-none">
          <button
            class="border-0 bg-transparent"
            type="button"
            (click)="sidebarContent()"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSideNavbar"
            aria-controls="offcanvasSideNavbar"
          >
            <span class="btn btn-primary"
              ><i class="fa-solid fa-sliders-h"></i
            ></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>

        <nav class="navbar navbar-expand-lg mx-0">
          <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvasSideNavbar"
          >
            <app-sidebar />
          </div>
        </nav>
      </div>
      <div class="col-md-8 col-lg-6 vstack gap-4">
        <pages-celebration />
        <pages-celebration-upcoming-celebration />
      </div>
      <div class="col-lg-3">
        <div class="row g-4">
          <div class="col-sm-6 col-lg-12">
            <app-follow />
          </div>
          <div class="col-sm-6 col-lg-12">
            <app-news />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
