<div class="row g-3">
  @for (item of postVideoData; track $index) {
    <div class="col-sm-6 col-lg-4">
      <div class="card p-0 shadow-none border-0 position-relative">
        <div class="position-relative">
          <img class="rounded" [src]="item.image" alt="" />

          <div class="position-absolute top-0 end-0 p-3">
            <a
              class="icon-md bg-danger text-white rounded-circle"
              href="javascript:void(0);"
            >
              <i class="bi bi-play-fill fs-5"> </i>
            </a>
          </div>

          <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
            <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">{{
              item.duration
            }}</span>
            <span
              class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"
              >{{ item.time_posted }}</span
            >
          </div>
        </div>

        <div class="card-body px-0">
          <div class="d-flex align-items-center mb-3">
            <div class="avatar avatar-xxs me-2">
              <img
                class="avatar-img rounded-circle"
                [src]="item.avatar"
                alt=""
              />
            </div>

            <h6 class="mb-0">
              <a href="javascript:void(0);"> {{ item.uploader }} </a>
              @if (item.uploader_verified) {
                <i class="bi bi-patch-check-fill text-success small"></i>
              }
            </h6>
            <span class="ms-auto small"> {{ item.views }} views</span>
          </div>

          <h6 class="mb-0">
            <a class="stretched-link" [routerLink]="item.link">{{
              item.title
            }}</a>
          </h6>
        </div>
      </div>
    </div>
  }
</div>
