<div
  class="py-5 mt-n4"
  style="
    background-image: url(assets/images/bg/06.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div class="container mt-5">
    <div class="row justify-content-center py-5">
      <div class="col-md-6 text-center">
        <h1 class="text-white">Change your social presence.</h1>
        <p class="mb-4 text-white">
          For who thoroughly her boy estimating conviction.
        </p>

        <form class="rounded position-relative">
          <input
            class="form-control form-control-lg ps-5"
            type="search"
            placeholder="Search..."
            aria-label="Search"
          />
          <button
            class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y"
            type="submit"
          >
            <i class="bi bi-search fs-5 ps-1"> </i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <ul
          class="nav nav-tabs nav-tabs-white justify-content-center border-0"
          ngbNav
          #nav="ngbNav"
        >
          <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#tab-1">
              For you
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade show active" id="tab-1">
                <div class="row g-4">
                  @for (item of allPostData; track $index) {
                    <div class="col-sm-6 col-lg-4">
                      <div class="card h-100">
                        @if (item.type === 'swiper') {
                          <div class="tiny-slider dots-inside dots-white">
                            <div
                              class="tiny-slider-inner"
                              data-arrow="false"
                              data-dots="true"
                              data-autoplay="true"
                              data-items="1"
                              data-gutter="0"
                            >
                              <ng-tiny-slider
                                [config]="articleSliderSetting"
                                #articleSlider
                              >
                                <div class="overflow-hidden">
                                  <img
                                    class="card-img-top"
                                    src="assets/images/post/16by9/02.jpg"
                                    alt="Post"
                                  />
                                </div>
                                <div class="overflow-hidden">
                                  <img
                                    class="card-img-top"
                                    src="assets/images/post/16by9/13.jpg"
                                    alt="Post"
                                  />
                                </div>
                              </ng-tiny-slider>
                            </div>
                          </div>
                        } @else if (item.type === 'video') {
                          <div class="position-relative">
                            <img
                              class="rounded"
                              src="assets/images/post/16by9/04.jpg"
                              alt=""
                            />

                            <lightgallery
                              [settings]="settings"
                              class="position-absolute top-0 end-0 p-3"
                            >
                              <a
                                class="icon-md bg-danger text-white rounded-circle"
                                data-glightbox
                                href="assets/images/videos/video-call.mp4"
                              >
                                <i class="bi bi-play-fill fs-5"> </i>
                              </a>
                            </lightgallery>

                            <div
                              class="position-absolute bottom-0 start-0 p-3 d-flex w-100"
                            >
                              <span
                                class="bg-dark bg-opacity-50 px-2 rounded text-white small"
                                >10:20</span
                              >
                              <span
                                class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"
                                >1 min ago</span
                              >
                            </div>
                          </div>
                        } @else if (item.type === 'youtube') {
                          <div
                            class="ratio ratio-16x9 card-img-top overflow-hidden"
                          >
                            <iframe
                              src="https://www.youtube.com/embed/7E45f46yDFI"
                              title="YouTube video"
                              allowfullscreen
                            ></iframe>
                          </div>
                        } @else if (item.type === 'videofeed') {
                          <div class="overflow-hidden fullscreen-video w-100">
                            <div
                              class="player-wrapper card-img-top overflow-hidden"
                            >
                              <video
                                class="player-html"
                                controls
                                crossorigin="anonymous"
                                poster="assets/images/videos/poster.jpg"
                              >
                                <source
                                  src="assets/images/videos/video-feed.mp4"
                                  type="video/mp4"
                                />
                              </video>
                            </div>
                          </div>
                        } @else if (item.type === 'audio') {
                          <div class="card-image position-relative">
                            <img
                              class="card-img-top"
                              src="assets/images/post/16by9/07.jpeg"
                              alt="Card image"
                            />
                            <div
                              class="card-img-overlay d-flex align-items-start flex-column p-3"
                            >
                              <div class="w-100 my-auto">
                                <div class="bg-white rounded">
                                  <audio
                                    class="player-audio"
                                    appPlyr
                                    [options]="{
                                      controls: [
                                        'play',
                                        'progress',
                                        'current-time',
                                        'mute',
                                        'volume',
                                        'settings',
                                        'fullscreen',
                                      ],
                                    }"
                                    crossorigin
                                  >
                                    <source
                                      src="assets/images/videos/audio.mp3"
                                      type="audio/mp3"
                                    />
                                  </audio>
                                </div>
                              </div>
                            </div>
                          </div>
                        } @else {
                          <img
                            class="card-img-top"
                            [src]="item.avatar"
                            alt="Post"
                          />
                        }

                        <div class="card-body">
                          <a
                            class="text-body"
                            routerLink="/pages/post-details"
                            >{{ item.content }}</a
                          >

                          <ul class="nav nav-stack flex-wrap small mt-3">
                            <li class="nav-item">
                              <a class="nav-link" href="javascript:void(0);">
                                <i class="bi bi-hand-thumbs-up-fill pe-1"></i
                                >({{ item.reactions.thumbs_up }})</a
                              >
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="javascript:void(0);">
                                <i class="bi bi-chat-fill pe-1"></i>({{
                                  item.reactions.comments
                                }})</a
                              >
                            </li>

                            <li
                              class="nav-item dropdown ms-sm-auto"
                              ngbDropdown
                            >
                              <a
                                class="nav-link mb-0 arrow-none"
                                href="javascript:void(0);"
                                id="cardShareAction"
                                ngbDropdownToggle
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <i
                                  class="bi bi-reply-fill flip-horizontal ps-1"
                                ></i
                                >({{ item.reactions.shares }})
                              </a>

                              <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="cardShareAction"
                                ngbDropdownMenu
                              >
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                  >
                                    <i class="bi bi-envelope fa-fw pe-2"></i
                                    >Send via Direct Message</a
                                  >
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                  >
                                    <i
                                      class="bi bi-bookmark-check fa-fw pe-2"
                                    ></i
                                    >Bookmark
                                  </a>
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                  >
                                    <i class="bi bi-link fa-fw pe-2"></i>Copy
                                    link to post</a
                                  >
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                  >
                                    <i class="bi bi-share fa-fw pe-2"></i>Share
                                    post via …</a
                                  >
                                </li>
                                <li>
                                  <hr class="dropdown-divider" />
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                  >
                                    <i
                                      class="bi bi-pencil-square fa-fw pe-2"
                                    ></i
                                    >Share to News Feed</a
                                  >
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  }

                  <div class="col-12 text-center">
                    <button class="btn btn-primary mb-0" type="button">
                      <span
                        class="spinner-border spinner-border-sm me-2"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Loading
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link" ngbNavLink data-bs-toggle="tab" href="#tab-2">
              COVID-19
            </a>
            <ng-template ngbNavContent>
              <div class="row g-4">
                @for (item of allCovidData; track $index) {
                  <div class="col-sm-6 col-lg-4">
                    <div class="card h-100">
                      <img class="card-img-top" [src]="item.image" alt="Post" />

                      <div class="card-body">
                        <a class="text-body" [routerLink]="item.link">{{
                          item.description
                        }}</a>

                        <ul class="nav nav-stack flex-wrap small mt-3">
                          <li class="nav-item">
                            <a
                              class="nav-link active"
                              href="javascript:void(0);"
                            >
                              <i class="bi bi-hand-thumbs-up-fill pe-1"></i>({{
                                item.likes
                              }})</a
                            >
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                              <i class="bi bi-chat-fill pe-1"></i>({{
                                item.comments
                              }})</a
                            >
                          </li>

                          <li class="nav-item dropdown ms-sm-auto" ngbDropdown>
                            <a
                              class="nav-link mb-0"
                              ngbDropdownToggle
                              href="javascript:void(0);"
                              id="cardShareAction12"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i
                                class="bi bi-reply-fill flip-horizontal ps-1"
                              ></i
                              >({{ item.shares }})
                            </a>

                            <ul
                              class="dropdown-menu dropdown-menu-end"
                              ngbDropdownMenu
                              aria-labelledby="cardShareAction12"
                            >
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javasript:void(0);"
                                >
                                  <i class="bi bi-envelope fa-fw pe-2"></i>Send
                                  via Direct Message</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javasript:void(0);"
                                >
                                  <i class="bi bi-bookmark-check fa-fw pe-2"></i
                                  >Bookmark
                                </a>
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javasript:void(0);"
                                >
                                  <i class="bi bi-link fa-fw pe-2"></i>Copy link
                                  to post</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javasript:void(0);"
                                >
                                  <i class="bi bi-share fa-fw pe-2"></i>Share
                                  post via …</a
                                >
                              </li>
                              <li>
                                <hr class="dropdown-divider" />
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javasript:void(0);"
                                >
                                  <i class="bi bi-pencil-square fa-fw pe-2"></i
                                  >Share to News Feed</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                }

                <div class="col-12 text-center">
                  <button class="btn btn-primary" type="button">
                    <span
                      class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Loading...
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link" ngbNavLink data-bs-toggle="tab" href="#tab-3">
              Trending
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade show active text-center" id="tab-1">
                <div class="my-sm-5 py-sm-5">
                  <i
                    class="display-1 text-primary text-opacity-25 bi bi-card-text"
                  >
                  </i>
                  <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                  <button class="btn btn-primary-soft btn-sm">
                    View recent post
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link" ngbNavLink data-bs-toggle="tab" href="#tab-4">
              News
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade show active text-center" id="tab-1">
                <div class="my-sm-5 py-sm-5">
                  <i
                    class="display-1 text-primary text-opacity-25 bi bi-card-text"
                  >
                  </i>
                  <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                  <button class="btn btn-primary-soft btn-sm">
                    View recent post
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link" ngbNavLink data-bs-toggle="tab" href="#tab-5">
              Sports
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade show active text-center" id="tab-1">
                <div class="my-sm-5 py-sm-5">
                  <i
                    class="display-1 text-primary text-opacity-25 bi bi-card-text"
                  >
                  </i>
                  <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                  <button class="btn btn-primary-soft btn-sm">
                    View recent post
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link" ngbNavLink data-bs-toggle="tab" href="#tab-6">
              Entertainment
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane fade show active text-center" id="tab-1">
                <div class="my-sm-5 py-sm-5">
                  <i
                    class="display-1 text-primary text-opacity-25 bi bi-card-text"
                  >
                  </i>
                  <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                  <button class="btn btn-primary-soft btn-sm">
                    View recent post
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content mb-0 pb-0" [ngbNavOutlet]="nav"></div>
  </div>
</div>
