<ul class="nav small mt-4 justify-content-center lh-1">
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/settings">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" routerLink="docs/index.html">Docs </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/help">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/privacy-and-terms">Privacy & terms</a>
  </li>
</ul>
