<div class="card">
  <div class="card-body">
    <iframe
      class="rounded w-100"
      height="450"
      src="https://www.youtube.com/embed/n_Cn8eFo7u8"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <div class="d-flex my-3">
      <div>
        <h1 class="h4">What's it like to work at Google?</h1>
        <div class="d-flex">
          <div class="avatar avatar-xxs me-2">
            <img
              class="avatar-img rounded-circle"
              src="assets/images/avatar/01.jpg"
              alt=""
            />
          </div>

          <h6 class="mb-0">
            <a href="javascript:void(0);">
              Frances Guerrero
              <i class="bi bi-patch-check-fill text-success small"></i>
            </a>
          </h6>
        </div>
      </div>

      <div class="dropdown ms-auto" ngbDropdown>
        <a
          href="javascript:void(0);"
          ngbDropdownToggle
          class="text-secondary ms-2 arrow-none"
          id="feedVideoActionEdit"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-three-dots"></i>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-end"
          ngbDropdownMenu
          aria-labelledby="feedVideoActionEdit"
        >
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="bi bi-bookmark fa-fw pe-1"></i> Save video</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="bi bi-link-45deg fa-fw pe-1"></i> Copy link
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="bi bi-x-circle fa-fw pe-1"></i> Hide post</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="bi bi-slash-circle fa-fw pe-1"></i> Block</a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="bi bi-flag fa-fw pe-1"></i> Report post</a
            >
          </li>
        </ul>
      </div>
    </div>

    <ul class="nav nav-stack small mt-4">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);">
          <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (23K)</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
          <i class="bi bi-chat-fill pe-1"></i>Comments (10K)</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
          <i class="bi bi-eye-fill pe-1"></i>458M Views</a
        >
      </li>
      <li class="nav-item ms-sm-auto">
        <div class="dropdown" ngbDropdown>
          <a
            href="javascript:void(0);"
            ngbDropdownToggle
            class="text-secondary arrow-none"
            id="feedvideoActionShare"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-reply-fill fa-flip-horizontal pe-1"></i>Share (3K)
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            ngbDropdownMenu
            aria-labelledby="feedvideoActionShare"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct
                Message</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-bookmark-check fa-fw pe-1"></i> Bookmark
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-link fa-fw pe-1"></i> Copy link to post</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-code-slash fa-fw pe-1"></i> Embed</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-pencil-square fa-fw pe-1"></i> Share to News
                Feed</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="d-flex my-3">
      <div class="avatar avatar-xs me-2">
        <img
          class="avatar-img rounded-circle"
          src="assets/images/avatar/03.jpg"
          alt=""
        />
      </div>

      <form class="position-relative w-100">
        <textarea
          class="one form-control pe-4 bg-light"
          rows="1"
          placeholder="Add a comment..."
        ></textarea>
      </form>
    </div>

    <ul class="comment-wrap list-unstyled">
      <li class="comment-item">
        <div class="d-flex position-relative">
          <div class="avatar avatar-xs">
            <a href="javascript:void(0);"
              ><img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/05.jpg"
                alt=""
            /></a>
          </div>
          <div class="ms-2">
            <div class="bg-light rounded-start-top-0 p-3 rounded">
              <div class="d-flex justify-content-between">
                <h6 class="mb-1">
                  <a href="javascript:void(0);"> Frances Guerrero </a>
                </h6>
                <small class="ms-2">5hr</small>
              </div>
              <p class="small mb-0">
                Removed demands expense account in outward tedious do.
                Particular way thoroughly unaffected projection.
              </p>
            </div>

            <ul class="nav nav-divider py-2 small">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"> Like (3)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"> Reply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                  View 5 replies</a
                >
              </li>
            </ul>
          </div>
        </div>

        <ul class="comment-item-nested list-unstyled">
          <li class="comment-item">
            <div class="d-flex">
              <div class="avatar avatar-xs">
                <a href="javascript:void(0);"
                  ><img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/06.jpg"
                    alt=""
                /></a>
              </div>

              <div class="ms-2">
                <div class="bg-light p-3 rounded">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-1">
                      <a href="javascript:void(0);"> Lori Stevens </a>
                    </h6>
                    <small class="ms-2">2hr</small>
                  </div>
                  <p class="small mb-0">
                    See resolved goodness felicity shy civility domestic had but
                    Drawings offended yet answered Jennings perceive.
                  </p>
                </div>

                <ul class="nav nav-divider py-2 small">
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"> Like (5)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"> Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="comment-item">
            <div class="d-flex">
              <div class="avatar avatar-story avatar-xs">
                <a href="javascript:void(0);"
                  ><img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/07.jpeg"
                    alt=""
                /></a>
              </div>

              <div class="ms-2">
                <div class="bg-light p-3 rounded">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-1">
                      <a href="javascript:void(0);"> Billy Vasquez </a>
                    </h6>
                    <small class="ms-2">15min</small>
                  </div>
                  <p class="small mb-0">
                    Wishing calling is warrant settled was lucky.
                  </p>
                </div>

                <ul class="nav nav-divider py-2 small">
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"> Like</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"> Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <a
          href="javascript:void(0);"
          role="button"
          [class.active]="isSpinner === true"
          (click)="isSpinner = !isSpinner"
          class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5"
          data-bs-toggle="button"
          aria-pressed="true"
        >
          <div class="spinner-dots me-2">
            <span class="spinner-dot"></span>
            <span class="spinner-dot"></span>
            <span class="spinner-dot"></span>
          </div>
          Load more replies
        </a>
      </li>

      <li class="comment-item">
        <div class="d-flex">
          <div class="avatar avatar-xs">
            <a href="javascript:void(0);"
              ><img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/05.jpg"
                alt=""
            /></a>
          </div>

          <div class="ms-2">
            <div class="bg-light p-3 rounded">
              <div class="d-flex justify-content-between">
                <h6 class="mb-1">
                  <a href="javascript:void(0);"> Frances Guerrero </a>
                </h6>
                <small class="ms-2">4min</small>
              </div>
              <p class="small mb-0">
                Removed demands expense account in outward tedious do.
                Particular way thoroughly unaffected projection.
              </p>
            </div>

            <ul class="nav nav-divider pt-2 small">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"> Like (1)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"> Reply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                  View 6 replies</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div class="card-footer border-0 py-0">
      <a
        href="javascript:void(0);"
        [class.active]="isActive === true"
        (click)="isActive = !isActive"
        role="button"
        class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
        data-bs-toggle="button"
        aria-pressed="true"
      >
        <div class="spinner-dots me-2">
          <span class="spinner-dot"></span>
          <span class="spinner-dot"></span>
          <span class="spinner-dot"></span>
        </div>
        Load more comments
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header border-0 pb-0">
    <h5 class="card-title">Related Videos</h5>
  </div>

  <div class="card-body">
    <div class="tiny-slider arrow-hover">
      <ng-tiny-slider
        [config]="articleSliderSetting"
        #articleSlider
        class="tiny-slider-inner"
        data-arrow="true"
        data-dots="true"
        data-loop="false"
        data-autoplay="false"
        data-items-xl="3"
        data-items-lg="3"
        data-items-md="2"
        data-items-sm="2"
        data-items-xs="1"
        data-gutter="12"
        data-edge="0"
      >
        @for (item of allReletedVideo; track $index) {
          <div>
            <div class="card p-0 shadow-none border-0 position-relative">
              <div class="position-relative">
                <img class="rounded" [src]="item.image" alt="" />

                <div class="position-absolute top-0 end-0 p-3">
                  <a
                    class="icon-md bg-danger text-white rounded-circle"
                    href="javascript:void(0);"
                  >
                    <i class="bi bi-play-fill fs-5"> </i>
                  </a>
                </div>

                <div
                  class="position-absolute bottom-0 start-0 p-3 d-flex w-100"
                >
                  <span
                    class="bg-dark bg-opacity-50 px-2 rounded text-white small"
                    >{{ item.duration }}</span
                  >
                  <span
                    class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"
                    >{{ item.time_posted }}</span
                  >
                </div>
              </div>

              <div class="card-body pb-0 px-0">
                <div class="d-flex align-items-center mb-3">
                  <div class="avatar avatar-xxs me-2">
                    <img
                      class="avatar-img rounded-circle"
                      [src]="item.avatar"
                      alt=""
                    />
                  </div>

                  <h6 class="mb-0">
                    <a href="javascript:void(0);">
                      {{ item.uploader }}
                      @if (item.uploader_verified) {
                        <i
                          class="bi bi-patch-check-fill text-success small"
                        ></i>
                      }
                    </a>
                  </h6>
                  <span class="ms-auto small"> {{ item.views }} views</span>
                </div>

                <h6 class="mb-0">
                  <a class="stretched-link" [routerLink]="item.link">{{
                    item.title
                  }}</a>
                </h6>
              </div>
            </div>
          </div>
        }
      </ng-tiny-slider>
    </div>
  </div>
</div>
