<section class="py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <div class="card card-body">
          <a class="btn btn-primary w-100" href="javascript:void(0);">
            Buy ticket
          </a>
          <div class="mt-4">
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between mb-3">
                <strong class="w-150px">Show Date & time:</strong>
                <span class="text-end"> 12 December, 8:20PM </span>
              </li>
              <li class="d-flex justify-content-between mb-3">
                <strong class="w-150px">Ticket Price:</strong>
                <span class="text-end"> $210.00 </span>
              </li>
              <li class="d-flex justify-content-between mb-3">
                <strong class="w-150px">Entry fees:</strong>
                <span class="text-end"> $1 per ticket </span>
              </li>
              <li class="d-flex justify-content-between mb-3">
                <strong class="w-150px">Address:</strong>
                <span class="text-end">
                  750 Sing Sing Rd, Horseheads, NY, 14845
                </span>
              </li>
            </ul>
            <iframe
              class="w-100 d-block rounded-bottom grayscale"
              height="230"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
              style="border: 0"
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-body">
          <h4>Overview</h4>
          <p>
            Appear third them gathered created divided all years spirit saying
            for great saying made had fly dry that darkness meat unto Thing
            spirit his fifth likeness divided also seed lesser image dominion
            sea fifth i god so saw open great Living.
          </p>
          <img
            class="img-fluid mb-3"
            src="assets/images/events/06.jpg"
            alt=""
          />
          <h6>Female saying may multiply upon life</h6>
          <p>
            To don't may give void forth created fruitful bearing creepeth fish
            god night you're brought creeping so you'll herb place blessed
            creepeth beast Green face fruitful stars man multiply Creepeth upon
            over darkness There dominion day from man doesn't won't us two fish
            a female saying may multiply upon life.
          </p>

          <div class="mt-4 mt-sm-5">
            <h4>Host</h4>
            <div class="row g-4">
              <div class="col-sm-4">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-lg me-3">
                    <img
                      class="avatar-img rounded-circle"
                      src="assets/images/avatar/01.jpg"
                      alt=""
                    />
                  </div>
                  <div>
                    <h6 class="mb-0">Bryan Knight</h6>
                    <span>Founder</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-lg me-3">
                    <img
                      class="avatar-img rounded-circle"
                      src="assets/images/avatar/02.jpg"
                      alt=""
                    />
                  </div>
                  <div>
                    <h6 class="mb-0">Carolyn Ortiz</h6>
                    <span>CEO</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-lg me-3">
                    <img
                      class="avatar-img rounded-circle"
                      src="assets/images/avatar/03.jpg"
                      alt=""
                    />
                  </div>
                  <div>
                    <h6 class="mb-0">Dennis Barrett</h6>
                    <span>Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 mt-sm-5">
            <h4>Schedule</h4>
            <div
              ngbAccordion
              [closeOthers]="true"
              class="accordion accordion-icon"
              id="accordionschedules"
            >
              @for (item of scheduleData; track $index) {
                <div
                  ngbAccordionItem
                  class="accordion-item mb-3"
                  [collapsed]="false"
                >
                  <div
                    ngbAccordionHeader
                    class="accordion-header"
                    id="scheduleOne"
                  >
                    <button
                      ngbAccordionButton
                      class="accordion-button pe-5 flex-wrap mb-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#schedulecollapseOne"
                      aria-expanded="true"
                      aria-controls="schedulecollapseOne"
                    >
                      <span class="me-2">{{ item.date }}</span>
                      <span class="me-2">{{ item.time }} </span>
                      <strong>{{ item.title }}</strong>
                    </button>
                  </div>

                  <div
                    ngbAccordionCollapse
                    id="schedulecollapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="scheduleOne"
                    data-bs-parent="#accordionschedules"
                  >
                    <div ngbAccordionBody class="accordion-body">
                      <ng-template>
                        <p>{{ item.description }}</p>
                        <div class="row g-4">
                          <div class="col-12">
                            <h5 class="mb-0">Speaker</h5>
                          </div>
                          @for (data of item.speakers; track $index) {
                            <div class="col-sm-4 col-lg-3">
                              <div class="card card-body text-center">
                                <div class="avatar avatar-lg mx-auto mb-3">
                                  <img
                                    class="avatar-img rounded-circle"
                                    [src]="data.image"
                                    alt=""
                                  />
                                </div>

                                <div>
                                  <h6 class="mb-0">{{ data.name }}</h6>
                                  <span>{{ data.image }}</span>
                                </div>
                              </div>
                            </div>
                          }
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>

          <div class="card card-body p-4 mt-5">
            <div class="row g-2">
              <div class="col-sm-4">
                <div class="d-flex">
                  <i class="bi bi-globe fs-4"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">125</h5>
                    <p class="mb-0">Visitors</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <i class="bi bi-person-plus fs-4"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">356</h5>
                    <p class="mb-0">Registred</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <i class="bi bi-people fs-4"></i>
                  <div class="ms-3">
                    <h5 class="mb-0">350</h5>
                    <p class="mb-0">Attendance</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 mt-sm-5">
            <h4>FAQ</h4>

            <div
              ngbAccordion
              [closeOthers]="true"
              class="accordion accordion-icon"
              id="accordionfaq"
            >
              @for (item of AllFAQsData; track $index) {
                <div
                  ngbAccordionItem
                  class="accordion-item mb-3"
                  [collapsed]="false"
                >
                  <div class="accordion-header" ngbAccordionHeader id="faqOne">
                    <button
                      ngbAccordionButton
                      class="accordion-button pe-5 flex-wrap fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faqcollapseOne"
                      aria-expanded="true"
                      aria-controls="faqcollapseOne"
                    >
                      {{ item.header }}
                    </button>
                  </div>
                  <div
                    ngbAccordionCollapse
                    id="faqcollapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="faqOne"
                    data-bs-parent="#accordionfaq"
                  >
                    <div ngbAccordionBody class="accordion-body">
                      @for (data of item.body; track $index) {
                        <p>{{ data }}</p>
                      }
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
