<app-topbar />

<main class="content">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <div class="d-flex align-items-center d-lg-none">
          <button
            class="border-0 bg-transparent"
            type="button"
            (click)="sidebarContent()"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSideNavbar"
            aria-controls="offcanvasSideNavbar"
          >
            <span class="btn btn-primary"
              ><i class="fa-solid fa-sliders-h"></i
            ></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
          </button>
        </div>

        <nav class="navbar navbar-expand-lg mx-0">
          <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvasSideNavbar"
          >
            <app-sidebar />
          </div>
        </nav>
      </div>

      <div class="col-md-8 col-lg-6 vstack gap-4">
        <app-content />
      </div>

      <div class="col-lg-3">
        <div class="row g-4">
          <div class="col-sm-6 col-lg-12">
            <app-follow />
          </div>

          <!-- <div class="col-sm-6 col-lg-12">
            <app-news />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <div class="d-none d-lg-block">
  <a
    class="icon-md btn btn-primary position-fixed end-0 bottom-0 me-5 mb-5"
    (click)="openEnd(content)"
    data-bs-toggle="offcanvas"
    href="javascript:void(0);"
    role="button"
    aria-controls="offcanvasChat"
  >
    <i class="bi bi-chat-left-text-fill"></i>
  </a>

  <ng-template
    #content
    let-offcanvas
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasChat"
  >
    <div class="offcanvas-header d-flex justify-content-between">
      <h5 class="offcanvas-title">Messaging</h5>
      <div class="d-flex">
        <a
          href="javascript:void(0);"
          class="btn btn-secondary-soft-hover py-1 px-2"
        >
          <i class="bi bi-pencil-square"></i>
        </a>

        <div class="dropdown" ngbDropdown>
          <a
            href="javascript:void(0);"
            ngbDropdownToggle
            class="btn btn-secondary-soft-hover py-1 px-2 arrow-none"
            id=" chatAction"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots"></i>
          </a>

          <ul
            class="dropdown-menu dropdown-menu-end"
            ngbDropdownMenu
            aria-labelledby="chatAction"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-check-square fa-fw pe-2"></i>Mark all as read</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-gear fa-fw pe-2"></i>Chat setting
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-bell fa-fw pe-2"></i>Disable notifications</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-volume-up-fill fa-fw pe-2"></i>Message sounds</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-slash-circle fa-fw pe-2"></i>Block setting</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-people fa-fw pe-2"></i>Create a group chat</a
              >
            </li>
          </ul>
        </div>

        <a
          href="javascript:void(0);"
          (click)="offcanvas.close()"
          class="btn btn-secondary-soft-hover py-1 px-2"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>
    </div>

    <div class="offcanvas-body pt-0 custom-scrollbar">
      <form class="rounded position-relative">
        <input
          class="form-control ps-5 bg-light"
          type="search"
          placeholder="Search..."
          aria-label="Search"
        />
        <button
          class="btn bg-transparent px-3 py-0 position-absolute top-50 start-0 translate-middle-y"
          type="submit"
        >
          <i class="bi bi-search fs-5"> </i>
        </button>
      </form>

      <ul class="list-unstyled">
        @for (item of messageData; track $index) {
          <ng-container *ngIf="isArray(item.avatar); else singleAvatar">
            <li class="mt-3 hstack gap-3 align-items-center position-relative">
              <div class="flex-shrink-0 avatar">
                <ul class="avatar-group avatar-group-four">
                  @for (avatar of item.avatar; track $index) {
                    <li class="avatar avatar-xxs">
                      <img
                        class="avatar-img rounded-circle"
                        [src]="avatar"
                        alt="avatar"
                      />
                    </li>
                  }
                </ul>
              </div>

              <div class="overflow-hidden">
                <a
                  class="h6 mb-0 stretched-link text-truncate d-inline-block"
                  href="javascript:void(0);"
                  >Frances, Lori, Amanda, Lawson
                </a>
                <div class="small text-secondary text-truncate">
                  Btw are you looking for job change?
                </div>
              </div>

              <div class="small ms-auto text-nowrap">4 day</div>
            </li>
          </ng-container>
          <ng-template #singleAvatar>
            <li
              class="mt-3 hstack gap-3 align-items-center position-relative toast-btn"
              data-target="chatToast"
            >
              @if (item.story) {
                <div class="avatar avatar-story status-online">
                  <img
                    class="avatar-img rounded-circle"
                    src="assets/images/avatar/05.jpg"
                    alt=""
                  />
                </div>
              } @else {
                <div
                  class="avatar status-online"
                  [ngClass]="{
                    'status-online': item.status === 'online',
                    'status-offline': item.status === 'offline',
                  }"
                >
                  <img
                    class="avatar-img rounded-circle"
                    [src]="item.avatar"
                    alt=""
                  />
                </div>
              }

              <div class="overflow-hidden">
                <a class="h6 mb-0 stretched-link" href="javascript:void(0);"
                  >{{ item.name }}
                </a>
                <div class="small text-secondary text-truncate">
                  {{ item.message }}
                </div>
              </div>

              <div class="small ms-auto text-nowrap">{{ item.time }}</div>
            </li>
          </ng-template>
        }

        <li class="mt-3 d-grid">
          <a class="btn btn-primary-soft" routerLink="/pages/messaging">
            See all in messaging
          </a>
        </li>
      </ul>
    </div>
  </ng-template>

  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container toast-chat d-flex gap-3 align-items-end">
      <div
        id="chatToast"
        class="toast mb-0 bg-mode"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="false"
      >
        <div class="toast-header bg-mode">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex">
              <div class="flex-shrink-0 avatar me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0 mt-1">Frances Guerrero</h6>
                <div class="small text-secondary">
                  <i class="fa-solid fa-circle text-success me-1"></i>Online
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="dropdown" ngbDropdown>
                <a
                  ngbDropdownToggle
                  class="btn btn-secondary-soft-hover py-1 px-2"
                  href="javascript:void(0);"
                  id="chatcoversationDropdown"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  ><i class="bi bi-three-dots-vertical"></i
                ></a>
                <ul
                  ngbDropdownMenu
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="chatcoversationDropdown"
                >
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-camera-video me-2 fw-icon"></i>Video
                      call</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-telephone me-2 fw-icon"></i>Audio call</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-trash me-2 fw-icon"></i>Delete
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-chat-square-text me-2 fw-icon"></i>Mark
                      as unread</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-volume-up me-2 fw-icon"></i>Muted</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-archive me-2 fw-icon"></i>Archive</a
                    >
                  </li>
                  <li class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-flag me-2 fw-icon"></i>Report</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary-soft-hover py-1 px-2"
                data-bs-toggle="collapse"
                href="#collapseChat"
                aria-expanded="false"
                aria-controls="collapseChat"
                ><i class="bi bi-dash-lg"></i
              ></a>
              <button
                class="btn btn-secondary-soft-hover py-1 px-2"
                data-bs-dismiss="toast"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="toast-body collapse show" id="collapseChat">
          <div class="chat-conversation-content custom-scrollbar h-200px">
            <div class="text-center small my-2">Jul 16, 2022, 06:15 am</div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      Applauded no discovery😊
                    </div>
                    <div class="small my-2">6:15 AM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end text-end mb-1">
              <div class="w-100">
                <div class="d-flex flex-column align-items-end">
                  <div class="bg-primary text-white p-2 px-3 rounded-2">
                    With pleasure
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      Please find the attached
                    </div>

                    <div class="small my-2">12:16 PM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      How promotion excellent curiosity😮
                    </div>
                    <div class="small my-2">3:22 PM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end text-end mb-1">
              <div class="w-100">
                <div class="d-flex flex-column align-items-end">
                  <div class="bg-primary text-white p-2 px-3 rounded-2">
                    And sir dare view.
                  </div>

                  <div class="d-flex my-2">
                    <div class="small text-secondary">5:35 PM</div>
                    <div class="small ms-2">
                      <i class="fa-solid fa-check"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center small my-2">2 New Messages</div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-3 rounded-2">
                      <div class="typing d-flex align-items-center">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-2">
            <textarea
              class="form-control mb-sm-0 mb-3"
              placeholder="Type a message"
              rows="1"
            ></textarea>

            <div class="d-sm-flex align-items-end mt-2">
              <button class="btn btn-sm btn-danger-soft me-2">
                <i class="fa-solid fa-face-smile fs-6"></i>
              </button>
              <button class="btn btn-sm btn-secondary-soft me-2">
                <i class="fa-solid fa-paperclip fs-6"></i>
              </button>
              <button class="btn btn-sm btn-success-soft me-2">Gif</button>
              <button class="btn btn-sm btn-primary ms-auto">Send</button>
            </div>
          </div>
        </div>
      </div>

      <div
        id="chatToast2"
        class="toast mb-0 bg-mode"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="false"
      >
        <div class="toast-header bg-mode">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex">
              <div class="flex-shrink-0 avatar me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0 mt-1">Lori Ferguson</h6>
                <div class="small text-secondary">
                  <i class="fa-solid fa-circle text-success me-1"></i>Online
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="dropdown" ngbDropdown>
                <a
                  ngbDropdownToggle
                  class="btn btn-secondary-soft-hover py-1 px-2"
                  href="javascript:void(0);"
                  id="chatcoversationDropdown2"
                  role="button"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false"
                  ><i class="bi bi-three-dots-vertical"></i
                ></a>
                <ul
                  ngbDropdownMenu
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="chatcoversationDropdown2"
                >
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-camera-video me-2 fw-icon"></i>Video
                      call</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-telephone me-2 fw-icon"></i>Audio call</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-trash me-2 fw-icon"></i>Delete
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-chat-square-text me-2 fw-icon"></i>Mark
                      as unread</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-volume-up me-2 fw-icon"></i>Muted</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-archive me-2 fw-icon"></i>Archive</a
                    >
                  </li>
                  <li class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);"
                      ><i class="bi bi-flag me-2 fw-icon"></i>Report</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary-soft-hover py-1 px-2"
                data-bs-toggle="collapse"
                href="#collapseChat2"
                role="button"
                aria-expanded="false"
                aria-controls="collapseChat2"
                ><i class="bi bi-dash-lg"></i
              ></a>
              <button
                class="btn btn-secondary-soft-hover py-1 px-2"
                data-bs-dismiss="toast"
                aria-label="Close"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="toast-body collapse show" id="collapseChat2">
          <div class="chat-conversation-content custom-scrollbar h-200px">
            <div class="text-center small my-2">Jul 16, 2022, 06:15 am</div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      Applauded no discovery😊
                    </div>
                    <div class="small my-2">6:15 AM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end text-end mb-1">
              <div class="w-100">
                <div class="d-flex flex-column align-items-end">
                  <div class="bg-primary text-white p-2 px-3 rounded-2">
                    With pleasure
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      Please find the attached
                    </div>

                    <div class="small my-2">12:16 PM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-2 px-3 rounded-2">
                      How promotion excellent curiosity😮
                    </div>
                    <div class="small my-2">3:22 PM</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end text-end mb-1">
              <div class="w-100">
                <div class="d-flex flex-column align-items-end">
                  <div class="bg-primary text-white p-2 px-3 rounded-2">
                    And sir dare view.
                  </div>

                  <div class="d-flex my-2">
                    <div class="small text-secondary">5:35 PM</div>
                    <div class="small ms-2">
                      <i class="fa-solid fa-check"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center small my-2">2 New Messages</div>

            <div class="d-flex mb-1">
              <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-start">
                    <div class="bg-light text-secondary p-3 rounded-2">
                      <div class="typing d-flex align-items-center">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-2">
            <textarea
              class="form-control mb-sm-0 mb-3"
              placeholder="Type a message"
              rows="1"
            ></textarea>

            <div class="d-sm-flex align-items-end mt-2">
              <button class="btn btn-sm btn-danger-soft me-2">
                <i class="fa-solid fa-face-smile fs-6"></i>
              </button>
              <button class="btn btn-sm btn-secondary-soft me-2">
                <i class="fa-solid fa-paperclip fs-6"></i>
              </button>
              <button class="btn btn-sm btn-success-soft me-2">Gif</button>
              <button class="btn btn-sm btn-primary ms-auto">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
