<div class="card">
  <div class="card-header pb-0 border-0">
    <h5 class="card-title mb-0">Recent post</h5>
  </div>

  <div class="card-body">
    @for (item of allRecentPost; track $index) {
      <div class="mb-3">
        <h6 class="mb-0">
          <a routerLink="/pages/blog-details">{{ item.title }}</a>
        </h6>
        <small>{{ item.time }}</small>
      </div>
    }

    <a
      href="javascript:void(0);"
      role="button"
      class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
      data-bs-toggle="button"
      aria-pressed="true"
    >
      <div class="spinner-dots me-2">
        <span class="spinner-dot"></span>
        <span class="spinner-dot"></span>
        <span class="spinner-dot"></span>
      </div>
      View all latest news
    </a>
  </div>
</div>
