.table {
    --bs-table-bg: transparent !important;
}
.offcanvas-body {
    background: #f9f9f9;
  }
  
  input.form-control {
    border-radius: 20px;
  }
  
  button.btn i.bi {
    font-size: 1.2rem;
  }
  /* leads.component.css */
  img.img-fluid {
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  
 .bg-prima{
    background-color: #16bb3ba6 !important;
 }
 
