<section class="py-4 py-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center mb-4">
        <h2 class="h1">More than messaging</h2>
        <p>Express besides it present if at an opinion visitor.</p>
      </div>
    </div>

    <div class="row g-4 g-lg-5">
      @for (item of landingMessageData; track $index) {
        <div class="col-md-4 text-center">
          <img class="h-100px mb-4" [src]="item.image" alt="" />
          <h4>{{ item.title }}</h4>
          <p class="mb-0">{{ item.description }}</p>
        </div>
      }
    </div>
  </div>
</section>
