<section class="bg-mode pt-0 pt-lg-5">
  <div class="container">
    <div class="row g-4 justify-content-between">
      <div class="col-lg-5">
        <a routerLink="/pages/event-details"
          ><img class="rounded" src="assets/images/events/06.jpg" alt=""
        /></a>

        <h5 class="mt-4">
          <a routerLink="/pages/event-details"> Global conference </a>
        </h5>
        <p>
          He moonlights difficult engrossed it, sportsmen. Interested has all
          Devonshire difficulty gay assistance joy.
        </p>

        <ul class="avatar-group list-unstyled align-items-center mb-0">
          <li class="avatar avatar-xs">
            <img
              class="avatar-img rounded-circle"
              src="assets/images/avatar/05.jpg"
              alt="avatar"
            />
          </li>
          <li class="avatar avatar-xs">
            <img
              class="avatar-img rounded-circle"
              src="assets/images/avatar/06.jpg"
              alt="avatar"
            />
          </li>
          <li class="avatar avatar-xs">
            <div class="avatar-img rounded-circle bg-primary">
              <span
                class="smaller text-white position-absolute top-50 start-50 translate-middle"
                >+34</span
              >
            </div>
          </li>
          <li class="ms-3">
            <small> are attending</small>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h4 class="mb-4">Book a conference</h4>
        <div class="bg-light dashed p-4 rounded">
          <div class="row g-4 justify-content-between">
            <div class="col-sm-7">
              <div class="row g-3">
                <div class="col-6">
                  <small>Date</small>
                  <h6>12 june, 2022</h6>
                </div>

                <div class="col-6">
                  <small>Time</small>
                  <h6>🌞Morning 10AM</h6>
                </div>

                <div class="col-12">
                  <small>Address</small>
                  <h6>2492 Centennial NW, Acworth, GA, 30102</h6>
                </div>
                <div class="col-12">
                  <a class="btn btn-white" href="javascript:void(0);"
                    ><i class="bi bi-share-fill pe-2"></i> Share
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-5 text-center">
              <div class="ticket-border">
                <img
                  class="w-200px mx-auto"
                  src="assets/images/qr-code.png"
                  alt=""
                />
                <a class="btn btn-primary mt-3" href="javascript:void(0);"
                  ><i class="bi bi-ticket-fill pe-2"></i> Book now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
