@if (!changePassword) {
	<div class="card mb-4">
		<div class="card-header border-0 pb-0">
			<h1 class="h5 card-title">Account Settings</h1>
			<p class="mb-0">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>
		</div>

		<div class="card-body">
			<form class="row g-3">
				<div class="col-sm-6 col-lg-4">
					<label class="form-label">First name</label>
					<input type="text" class="form-control" placeholder="" value="Sam" />
				</div>

				<div class="col-sm-6 col-lg-4">
					<label class="form-label">Last name</label>
					<input type="text" class="form-control" placeholder="" value="Lanson" />
				</div>

				<div class="col-sm-6 col-lg-4">
					<label class="form-label">Additional name</label>
					<input type="text" class="form-control" placeholder="" />
				</div>

				<div class="col-sm-6">
					<label class="form-label">User name</label>
					<input type="text" class="form-control" placeholder="" value="@samlanson" />
				</div>

				<div class="col-lg-6">
					<label class="form-label">Birthday</label>
					<input type="text" mwlFlatpickr class="form-control flatpickr" value="12/12/2000" />
				</div>

				<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="allowChecked" checked />
						<label class="form-check-label" for="allowChecked">Allow anyone to add you to their team</label>
					</div>
				</div>

				<div class="col-sm-6">
					<label class="form-label">Phone number</label>
					<input type="text" class="form-control" placeholder="" value="(678) 324-1251" />

					<a class="btn btn-sm btn-dashed rounded mt-2" href="javascript:void(0);">
						<i class="bi bi-plus-circle-dotted me-1"></i>
						Add new phone number
					</a>
				</div>

				<div class="col-sm-6">
					<label class="form-label">Email</label>
					<input type="text" class="form-control" placeholder="" value="sam@techzaa.com" />

					<a class="btn btn-sm btn-dashed rounded mt-2" href="javascript:void(0);">
						<i class="bi bi-plus-circle-dotted me-1"></i>
						Add new email address
					</a>
				</div>

				<div class="col-12">
					<label class="form-label">Overview</label>
					<textarea class="form-control" rows="4" placeholder="Description (Required)">Interested has all Devonshire difficulty gay assistance joy. Handsome met debating sir dwelling age material. As style lived he worse dried. Offered related so visitors we private removed. Moderate do subjects to distance.</textarea>
					<small>Character limit: 300</small>
				</div>

				<div class="col-12 text-end">
					<button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
				</div>
			</form>
		</div>
	</div>
}
@if(changePassword) {
	<div class="card">
		<div class="card-header border-0 pb-0">
			<h5 class="card-title">Change your password</h5>
			<p class="mb-0">See resolved goodness felicity shy civility domestic had but.</p>
		</div>

		<div class="card-body">
			<form class="row g-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
				<div class="col-12">
					<label class="form-label">Current password</label>
					<input
						type="email"
						formControlName="currentPaasword"
						class="form-control"
						[ngClass]="{
							'is-invalid': submitted && form['currentPaasword'].errors,
						}"
						id="floatingInput"
						placeholder="name@example.com"
					/>
				</div>

				<div class="col-12">
					<label class="form-label">New password</label>

					<div class="input-group">
						<input
							formControlName="password"
							[type]="fieldTextType ? 'text' : 'password'"
							[ngClass]="{
								'is-invalid': submitted && form['password'].errors,
							}"
							type="password"
							class="form-control fakepassword pe-6"
							id="psw-input"
							placeholder="Enter your password"
						/>
						<span class="input-group-text p-0">
							<i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px" [ngClass]="{ 'fa-eye': fieldTextType }" (click)="changetype()"></i>
						</span>
					</div>

					<div id="pswmeter" class="mt-2">
						<ngb-progressbar [type]="progressVariant.variant" [value]="fillAmount" [max]="100" height="9px" class="mt-3"></ngb-progressbar>
					</div>
					<div id="pswmeter-message" class="rounded mt-1"></div>
				</div>

				<div class="col-12">
					<label class="form-label">Confirm password</label>
					<input
						[type]="fieldTextType1 ? 'text' : 'password'"
						formControlName="confirmpwd"
						[ngClass]="{
							'is-invalid': signupForm.get('confirmpwd')?.touched && signupForm.errors?.['notSame'],
						}"
						class="form-control"
						placeholder="Confirm your password"
					/>
				</div>

				<div class="col-12 text-end">
					<button type="submit" class="btn btn-primary mb-0">Update password</button>
				</div>
			</form>
		</div>
	</div>
}
