<section class="py-4 py-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 ms-auto">
        <div class="row g-4 align-items-center">
          <div class="col-md-5 col-lg-5 position-relative">
            <img
              class="rounded-circle"
              src="assets/images/post/4by3/01.jpg"
              alt=""
            />

            <div
              class="position-absolute top-50 start-0 translate-middle d-none d-lg-block"
            >
              @for (item of videoData; track $index) {
                <div
                  class="bg-mode border p-3 rounded-3 rounded-start-top-0 d-flex align-items-center mb-3"
                >
                  <div class="avatar avatar-xs me-3">
                    <a href="javascript:void(0);">
                      <img
                        class="avatar-img rounded-circle"
                        [src]="item.avatar"
                        alt=""
                      />
                    </a>
                  </div>

                  <div class="d-flex">
                    <h6 class="mb-0">{{ item.message }}</h6>
                    <span class="ms-2">{{ item.emoji }}</span>
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="ms-4">
              <h2 class="h1">Get Discovered</h2>
              <p class="lead mb-4">
                Enjoy special interactive features such as Live Battles,
                Interactive Gifts, Happy Moments & Exclusive Posts to help you
                rise the ranks and grow your audience!
              </p>
              <a class="btn btn-primary" href="javascript:void(0);">
                Let's start
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
