<div class="card">
  <div class="card-header border-0 pb-0">
    <h5 class="card-title">Videos</h5>
  </div>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-sm-6 col-md-4">
        <div
          class="border border-2 py-5 border-dashed h-100 rounded text-center d-flex align-items-center justify-content-center position-relative"
        >
          <a class="stretched-link" href="javascript:void(0);">
            <i class="fa-solid fa-camera-retro fs-1"></i>
            <h6 class="mt-2">Add Video</h6>
          </a>
        </div>
      </div>

      @for (item of allVideoData; track $index) {
        <div class="col-sm-6 col-md-4" id="lightgallery">
          <div class="card p-0 shadow-none border-0 position-relative">
            <div class="position-relative">
              <img class="rounded" [src]="item.imageSrc" alt="" />

              <lightgallery
                [settings]="settings"
                class="position-absolute top-0 end-0 p-3"
              >
                <a
                  class="icon-md bg-danger text-white rounded-circle"
                  href="assets/images/videos/video-call.mp4"
                >
                  <i class="bi bi-play-fill fs-5"> </i>
                </a>
              </lightgallery>

              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                <span
                  class="bg-dark bg-opacity-50 px-2 rounded text-white small"
                  >{{ item.duration }}</span
                >
              </div>
            </div>

            <div class="card-body px-0 pb-0 pt-2">
              <ul class="nav nav-stack small">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0);">
                    <i class="bi bi-heart-fill text-danger pe-1"></i
                    >{{ item.likes }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0);">
                    <i class="bi bi-chat-left-text-fill pe-1"></i
                    >{{ item.comments }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
