<div class="card">
  <div class="card-header pb-0 border-0">
    <h5 class="card-title mb-0">Who to follow</h5>
  </div>

  <div class="card-body">
    @for (item of followData; track $index) {
      <div class="hstack gap-2 mb-3">
        <div class="avatar">
          <a href="javascript:void(0);">
            <img class="avatar-img rounded-circle" [src]="item.avatar" alt="" />
          </a>
        </div>

        <div class="overflow-hidden">
          <a class="h6 mb-0" href="javascript:void(0);">{{ item.name }} </a>
          <p class="mb-0 small text-truncate">{{ item.title }}</p>
        </div>

        <a
          class="btn rounded-circle icon-md ms-auto"
          [ngClass]="
            item.icon_class == 'bi bi-person-check-fill'
              ? 'btn-primary'
              : 'btn-primary-soft'
          "
          href="javascript:void(0);"
          ><i class="{{ item.icon_class }}"> </i
        ></a>
      </div>
    }
  </div>
</div>
