<div class="card">
  <div
    class="card-header d-sm-flex text-center align-items-center justify-content-between border-0 pb-0"
  >
    <h1 class="card-title h4">Photos</h1>

    <a
      class="btn btn-primary-soft"
      href="javascript:void(0);"
      data-bs-toggle="modal"
      data-bs-target="#modalCreateAlbum"
    >
      <i class="fa-solid fa-plus pe-1"></i> Create album</a
    >
  </div>

  <div class="card-body">
    <ul
      ngbNav
      #nav="ngbNav"
      class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start"
    >
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link"
          ngbNavLink
          data-bs-toggle="tab"
          href="javascript:void(0);"
        >
          Photos of you
        </a>
        <ng-template ngbNavContent>
          <albums-photos-of-you />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link"
          ngbNavLink
          data-bs-toggle="tab"
          href="javascript:void(0);"
        >
          Your photos
        </a>
        <ng-template ngbNavContent>
          <albums-your-photo />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link"
          ngbNavLink
          data-bs-toggle="tab"
          href="javascript:void(0);"
        >
          Recently added
        </a>
        <ng-template ngbNavContent>
          <albums-recentle-added />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link"
          ngbNavLink
          data-bs-toggle="tab"
          href="javascript:void(0);"
        >
          Family
        </a>
        <ng-template ngbNavContent>
          <albums-family />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link"
          ngbNavLink
          data-bs-toggle="tab"
          href="javascript:void(0);"
        >
          Albums
        </a>
        <ng-template ngbNavContent>
          <albums-tab />
        </ng-template>
      </li>
    </ul>

    <div class="tab-content mb-0 pb-0" [ngbNavOutlet]="nav"></div>
  </div>
</div>
