<section class="py-4 py-sm-5">
  <div class="container">
    <div
      class="card card-body bg-light shadow-none border-0 p-4 p-sm-5 text-center"
    >
      <div class="col-lg-8 mx-auto">
        <h2 class="h1">People prefer to message</h2>
        <p class="lead mb-4">
          Frequently sufficient to be unaffected. The furnished she concluded
          depending procuring concealed.
        </p>
        <div class="d-flex justify-content-center">
          <a routerLink="/app-download"
            ><img
              class="h-40px"
              src="assets/images/app-store.svg"
              alt="app-store"
          /></a>
          <a routerLink="/app-download"
            ><img
              class="h-40px ms-1 ms-sm-2"
              src="assets/images/google-play.svg"
              alt="google-play"
          /></a>
        </div>

        <ul class="nav nav-divider justify-content-center mt-4">
          <li class="nav-item">Easy set-up</li>
          <li class="nav-item">Free Forever</li>
          <li class="nav-item">Secure</li>
        </ul>
      </div>
    </div>
  </div>
</section>
