<section class="bg-mode pb-5 pt-0 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h4>Top Destinations</h4>
      </div>
    </div>
    <div class="row g-4">
      @for (item of allDestinationData; track $index) {
        <div class="col-sm-6 col-lg-3">
          <div class="card card-overlay-bottom card-img-scale">
            <img class="card-img" [src]="item.image" alt="" />

            <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
              <div class="w-100 mt-auto">
                <h5 class="text-white">
                  <a
                    href="javascript:void(0);"
                    class="btn-link text-reset stretched-link"
                    >{{ item.title }}</a
                  >
                </h5>

                <span class="text-white small">{{ item.category }}</span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
