<section class="pt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 vstack gap-4">
        <div class="card">
          <div
            class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0"
          >
            <h2 class="h4 card-title">Discover Events</h2>

            <a
              class="btn btn-primary-soft"
              href="javascript:void(0);"
              data-bs-toggle="modal"
              data-bs-target="#modalCreateEvents"
            >
              <i class="fa-solid fa-plus pe-1"></i> Create event</a
            >
          </div>

          <div class="card-body">
            <div class="row g-4">
              @for (item of allDiscoverEvent; track $index) {
                <div class="col-sm-6 col-xl-4">
                  <div class="card h-100">
                    <div class="position-relative">
                      <img
                        class="img-fluid rounded-top"
                        [src]="item.image"
                        alt=""
                      />
                      @if (item.badge) {
                        <div
                          class="badge bg-danger text-white mt-2 me-2 position-absolute top-0 end-0"
                        >
                          {{ item.badge }}
                        </div>
                      }
                    </div>

                    <div class="card-body position-relative pt-0">
                      <a
                        class="btn btn-xs btn-primary mt-n3"
                        routerLink="/pages/blog-details"
                        >{{ item.tag }}
                      </a>
                      <h6 class="mt-3">
                        <a routerLink="/pages/blog-details">
                          {{ item.title }}
                        </a>
                      </h6>

                      <p class="mb-0 small">
                        <i class="bi bi-calendar-check pe-1"></i>
                        {{ item.date_time }}
                      </p>
                      <p class="small">
                        <i class="bi bi-geo-alt pe-1"></i> {{ item.location }}
                      </p>

                      <ul
                        class="avatar-group list-unstyled align-items-center mb-0"
                      >
                        @for (attndeed of item.attendees; track $index) {
                          @if (
                            (item.attendees.length >= 2 && $index <= 1) ||
                            (item.attendees.length < 2 &&
                              $index < item.attendees.length - 1)
                          ) {
                            <li class="avatar avatar-xs">
                              <img
                                class="avatar-img rounded-circle"
                                [src]="attndeed"
                                alt="avatar"
                              />
                            </li>
                          } @else if (item.attendees.length >= 2) {
                            <li class="avatar avatar-xs">
                              <div class="avatar-img rounded-circle bg-primary">
                                <span
                                  class="smaller text-white position-absolute top-50 start-50 translate-middle"
                                  >+{{ item.attendees.length - 2 + 12 }}</span
                                >
                              </div>
                            </li>
                          }
                        }
                        <li class="ms-3">
                          <small> are attending</small>
                        </li>
                      </ul>

                      <div class="d-flex mt-3 justify-content-between">
                        <div class="w-100">
                          <input
                            type="checkbox"
                            class="btn-check d-block"
                        
                          />
                          <label
                            class="btn btn-sm btn-outline-success d-block"
                          
                            ><i class="fa-solid fa-thumbs-up me-1"></i>
                            Interested</label
                          >
                        </div>
                        <div class="dropdown ms-3" ngbDropdown>
                          <a
                            href="javascript:void(0);"
                            ngbDropdownToggle
                            class="btn btn-sm btn-primary-soft arrow-none"
                            id="eventActionShare"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <i class="bi bi-share-fill"></i>
                          </a>

                          <ul
                            class="dropdown-menu dropdown-menu-end"
                            ngbDropdownMenu
                            aria-labelledby="eventActionShare"
                          >
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <i class="bi bi-envelope fa-fw pe-1"></i> Send
                                via Direct Message</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <i class="bi bi-bookmark-check fa-fw pe-1"></i>
                                Share to News Feed
                              </a>
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <i class="bi bi-people fa-fw pe-1"></i> Share to
                                a group</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <i class="bi bi-share fa-fw pe-1"></i> Share
                                post via …</a
                              >
                            </li>
                            <li>
                              <hr class="dropdown-divider" />
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <i class="bi bi-person fa-fw pe-1"></i> Share on
                                a friend's profile</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
