<div class="card">
  <div class="card-header border-0 pb-0">
    <h1 class="h4 card-title">Celebration</h1>
  </div>

  <div class="card-body">
    <div class="d-flex mb-3">
      <div class="avatar avatar-lg status-online me-2">
        <a href="javascript:void(0);"
          ><img
            class="avatar-img rounded-circle"
            src="assets/images/avatar/03.jpg"
            alt=""
        /></a>
      </div>

      <div class="ms-2 w-100">
        <div class="d-sm-flex justify-content-between">
          <h6><a href="javascript:void(0);">Lori Ferguson </a></h6>
          <p class="small ms-sm-2 mb-0 mb-sm-2">Today is her birthday</p>

          <div ngbDropdown class="dropdown ms-auto">
            <a
            ngbDropdownToggle
              href="javascript:void(0);"
              class="text-secondary arrow-none"
              id="bdayActionEdit"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </a>

            <ul ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="bdayActionEdit"
            >
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-trash fa-fw pe-1"></i> Delete</a
                >
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell fa-fw pe-1"></i> Turn off notification
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell-slash fa-fw pe-1"></i> Mute Amanda Read
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="position-relative w-100">
          <textarea
            class="form-control pe-4"
            rows="1"
            placeholder="Happy birthday dear.."
          ></textarea>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex mb-3">
      <div class="avatar avatar-lg me-2">
        <div
          class="avatar-img rounded-circle bg-danger bg-opacity-10 text-danger"
        >
          <span
            class="position-absolute top-50 start-50 translate-middle fw-bold"
            >BV</span
          >
        </div>
      </div>

      <div class="ms-2 w-100">
        <div class="d-sm-flex justify-content-between">
          <h6 class="mb-0"><a href="javascript:void(0);">Billy Vasquez </a></h6>
          <p class="small ms-sm-2 mb-0 mb-sm-2">Today is her birthday</p>

         
          <div ngbDropdown class="dropdown ms-auto">
            <a
            ngbDropdownToggle
              href="javascript:void(0);"
              class="text-secondary arrow-none"
              id="bdayActionEdit"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </a>

            <ul ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="bdayActionEdit"
            >
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-trash fa-fw pe-1"></i> Delete</a
                >
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell fa-fw pe-1"></i> Turn off notification
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell-slash fa-fw pe-1"></i> Mute Amanda Read
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="position-relative w-100">
          <textarea
            class="form-control pe-4"
            rows="1"
            placeholder="Birthday wish here.."
          ></textarea>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex mb-3">
      <div class="avatar avatar-story avatar-lg me-2">
        <a href="javascript:void(0);"
          ><img
            class="avatar-img rounded-circle"
            src="assets/images/avatar/05.jpg"
            alt=""
        /></a>
      </div>

      <div class="ms-2 w-100">
        <div class="d-sm-flex justify-content-between">
          <p class="mb-0 mb-sm-2">
            Congratulate
            <a class="h6" href="javascript:void(0);">Amanda Reed </a> for 3
            years at
            <a class="h6" href="javascript:void(0);"
              >Bootstrap - Front-end framework</a
            >
          </p>

       
          <div ngbDropdown class="dropdown ms-auto">
            <a
            ngbDropdownToggle
              href="javascript:void(0);"
              class="text-secondary arrow-none"
              id="bdayActionEdit"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </a>

            <ul ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="bdayActionEdit"
            >
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-trash fa-fw pe-1"></i> Delete</a
                >
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell fa-fw pe-1"></i> Turn off notification
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell-slash fa-fw pe-1"></i> Mute Amanda Read
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="position-relative w-100">
          <textarea
            class="form-control pe-4"
            rows="1"
            placeholder="Congratulate"
          ></textarea>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex mb-3">
      <div class="avatar avatar-lg me-2">
        <a href="javascript:void(0);"
          ><img
            class="avatar-img rounded-circle"
            src="assets/images/avatar/06.jpg"
            alt=""
        /></a>
      </div>

      <div class="ms-2 w-100">
        <div class="d-sm-flex justify-content-between">
          <p>
            Judy Nguyen and 3 other connections are attending
            <strong> WordCamps San Francisco.</strong>
          </p>

        
          <div ngbDropdown class="dropdown ms-auto">
            <a
            ngbDropdownToggle
              href="javascript:void(0);"
              class="text-secondary arrow-none"
              id="bdayActionEdit"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </a>

            <ul ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="bdayActionEdit"
            >
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-trash fa-fw pe-1"></i> Delete</a
                >
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell fa-fw pe-1"></i> Turn off notification
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell-slash fa-fw pe-1"></i> Mute Amanda Read
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a routerLink="/pages/event-details" class="btn btn-sm btn-primary-soft"
          >View event
        </a>
      </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex mb-3">
      <div class="avatar avatar-lg me-2">
        <a href="javascript:void(0);"
          ><img
            class="avatar-img rounded-circle"
            src="assets/images/avatar/07.jpeg"
            alt=""
        /></a>
      </div>

      <div class="ms-2 w-100">
        <div class="d-sm-flex justify-content-between">
          <h6 class="mb-0"><a href="javascript:void(0);">Samuel Bishop </a></h6>
          <p class="small ms-sm-2 mb-0 mb-sm-2">Birthday is in 2 january</p>

         
          <div ngbDropdown class="dropdown ms-auto">
            <a
            ngbDropdownToggle
              href="javascript:void(0);"
              class="text-secondary arrow-none"
              id="bdayActionEdit"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </a>

            <ul ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="bdayActionEdit"
            >
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-trash fa-fw pe-1"></i> Delete</a
                >
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell fa-fw pe-1"></i> Turn off notification
                </a>
              </li>
              <li>
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                  <i class="bi bi-bell-slash fa-fw pe-1"></i> Mute Amanda Read
                </a>
              </li>
            </ul>
          </div>  
        </div>
        <div class="position-relative w-100">
          <textarea
            class="form-control pe-4"
            rows="1"
            placeholder="Birthday wish here.."
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
