<div class="offcanvas-body d-block px-2 px-lg-0">
  <div class="card overflow-hidden">
    <div
      class="h-50px"
      style="
        background-image: url(assets/images/bg/01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    ></div>

    <div class="card-body pt-0">
      <div class="text-center">
        <div class="avatar avatar-lg mt-n5 mb-3">
          <a href="javascript:void(0);"
            ><img
              class="avatar-img rounded border border-white border-3"
              src="assets/images/avatar/07.jpeg"
              alt=""
          /></a>
        </div>

        <h5 class="mb-0"><a href="javascript:void(0);">Rakesh Babu </a></h5>
        <small>Web Developer at AAPGS</small>
        <p class="mt-3">
          I'd love to change the world, but they won’t give me the source code.
        </p>

        <div class="hstack gap-2 gap-xl-3 justify-content-center">
          <div class="pointer hover-primary" routerLink="/profile/feed">
            <h6 class="mb-0">256</h6>
            <small>Post</small>
          </div>

          <div class="vr"></div>

          <div div class="pointer hover-primary" routerLink="/profile/connections">
            <h6 class="mb-0">2.5K</h6>
            <small>Followers</small>
          </div>

          <div class="vr"></div>

          <div div class="pointer hover-primary" routerLink="/profile/connections">
            <h6 class="mb-0">365</h6>
            <small>Following</small>
          </div>
        </div>
      </div>

      <hr />

      <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/feed">
            <img
              class="me-2 h-20px fa-fw"
              src="assets/images/icon/home-outline-filled.svg"
              alt=""
            /><span>Posts</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/connections">
            <img
              class="me-2 h-20px fa-fw"
              src="assets/images/icon/person-outline-filled.svg"
              alt=""
            /><span>Connections </span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pages/blog">
            <img
              class="me-2 h-20px fa-fw"
              src="assets/images/icon/earth-outline-filled.svg"
              alt=""
            /><span>Leads </span></a
          >
        </li>
      </ul>
    </div>

    <!-- <div class="card-footer text-center py-2">
      <a class="btn btn-link btn-sm" routerLink="/profile/feed"
        >View Profile
      </a>
    </div> -->
  </div>

  <!-- <app-footer1 /> -->

  <p class="small text-center mt-1">
    ©{{ currentYear }}
    <a >b4biz</a>
  </p>
</div>
