<div class="card">
  <div class="card-header border-0 pb-0">
    <div class="row g-2">
      <div class="col-lg-2">
        <h1 class="h4 card-title mb-lg-0">Group</h1>
      </div>
      <div class="col-sm-6 col-lg-3 ms-lg-auto">
        <select
          class="form-select js-choice choice-select-text-none"
          data-search-enabled="false"
        >
          <option value="AB">Alphabetical</option>
          <option value="NG">Newest group</option>
          <option value="RA">Recently active</option>
          <option value="SG">Suggested</option>
        </select>
      </div>
      <div class="col-sm-6 col-lg-3">
        <a
          class="btn btn-primary-soft ms-auto w-100"
          href="javascript:void(0);"
          data-bs-toggle="modal"
          data-bs-target="#modalCreateGroup"
          (click)="open(content)"
        >
          <i class="fa-solid fa-plus pe-1"></i> Create group</a
        >
      </div>
    </div>
  </div>

  <div class="card-body">
    <ul
      ngbNav
      #nav="ngbNav"
      class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start"
    >
      <li class="nav-item" ngbNavItem>
        <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#tab-1">
          Friends' groups
        </a>
        <ng-template ngbNavContent>
          <group-frd-grp />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#tab-2">
          Suggested for you
        </a>
        <ng-template ngbNavContent>
          <group-suggestion />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#tab-3">
          Popular near you
        </a>
        <ng-template ngbNavContent>
          <group-popular />
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem>
        <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#tab-4">
          More suggestions
        </a>
        <ng-template ngbNavContent>
          <group-more-suggestion />
        </ng-template>
      </li>
    </ul>
    <div class="tab-content mb-0 pb-0" [ngbNavOutlet]="nav"></div>
  </div>
</div>

<ng-template
  #content
  let-modal
  class="modal fade"
  id="modalCreateGroup"
  tabindex="-1"
  aria-labelledby="modalLabelCreateGroup"
  aria-hidden="true"
>
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabelCreateGroup">Create Group</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      (click)="modal.close('close')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="form-label">Group name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Add Group name here"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Group picture</label>

        <div class="d-flex align-items-center">
          <div class="avatar-uploader me-3">
            <div class="avatar-edit">
              <input type="file" id="avatarUpload" accept=".png, .jpg, .jpeg" />
              <label for="avatarUpload"></label>
            </div>

            <div class="avatar avatar-xl position-relative">
              <img
                id="avatar-preview"
                class="avatar-img rounded-circle border border-white border-3 shadow"
                src="assets/images/avatar/placeholder.jpg"
                alt=""
              />
            </div>
          </div>

          <div class="avatar-remove">
            <button type="button" id="avatar-reset-img" class="btn btn-light">
              Delete
            </button>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label d-block">Select audience</label>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="PublicRadioOptions"
            id="publicRadio1"
            value="option1"
          />
          <label class="form-check-label" for="publicRadio1">Public</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="PublicRadioOptions"
            id="privateRadio2"
            value="option2"
          />
          <label class="form-check-label" for="privateRadio2">Private</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Invite friend </label>
        <input
          type="text"
          class="form-control"
          placeholder="Add friend name here"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Group description </label>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Description here"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success-soft">Create now</button>
  </div>
</ng-template>
